/* app.css */

/* Import Tailwind's base styles */
@import 'tailwindcss/base';

/* Import Tailwind's component styles */
@import 'tailwindcss/components';

/* Import Tailwind's utility styles */
@import 'tailwindcss/utilities';